.base {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isEnemyBoxRed {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isEnemyBoxRed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.isEnemyBoxBlue {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isEnemyBoxBlue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.isMyBoxRed {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isMyBoxRed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.isMyBoxBlue {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isMyBoxBlue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

@media screen and (max-width: 480px) {
  .base, .isEnemyBoxRed, .isEnemyBoxBlue, .isMyBoxRed, .isMyBoxBlue {
    width: 25px;
    height: 25px;  
  }
}


