.base {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isEnemyBox {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

.isEnemyBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.isMyBox {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

@media screen and (max-width: 480px) {
  .base, .isEnemyBox, .isMyBox {
    width: 25px;
    height: 25px;  
  }
}

.isMyBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}
