.base {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  height: 18%;
  border: solid 2px black;
}

.isEnemyBox {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  height: 18%;
  border: solid 2px black;
}

.isEnemyBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 1;
}

.isMyBox {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  height: 18%;
  border: solid 2px black;
}

.isMyBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 1;
}
